.notifications {
    inset: 8px -10px auto auto !important;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    transition: 0.3s;
}

.notification-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.notification-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
}

.notification-item:hover {
    background-color: #f6f9ff;
}


.dropdown-divider {
    color: #a5c5fe;
    margin: 0;
}

.notification-item-icon {
    margin: 0 20px 0 10px;
    font-size: 24px!important;
}

.dropdown-footer {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
}

.dropdown-footer a {
    color: #444444;
    text-decoration: underline;
}

.dropdown-footer a:hover {
    text-decoration: none;
}

